@model IEnumerable<DataAccessLayer.Models.Shared.ApplicationUser>

@{
    ViewData["Title"] = "User Manager - Index";
}

<h2>All Users</h2>

<form method="get" asp-action="Index">
    <input type="text" name="search" placeholder="User's Name" />
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fname</th>
            <th>Lname</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.FristName</td>
                <td>@u.LastName</td>
                <td>@u.Email</td>
                <td>@u.PhoneNumber</td>
                <td><a asp-action="Details" asp-route-id="@u.Id">👁️</a></td>
                <td><a asp-action="Edit" asp-route-id="@u.Id">✏️</a></td>
                <td><a asp-action="Delete" asp-route-id="@u.Id">🗑️</a></td>
            </tr>
        }
    </tbody>
</table>
